@charset "utf-8";
/* ScssFilteReport */

.FilteReportRadioBox, .FilteReportRadio {
  width: 100%;
  float: right;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.FilteReportRadioBox {
  background-color: #F0F0F0;
  border-radius: 10px;
}

.FilteReportRadio {
  max-width: 25%;
  text-align: right;
  text-indent: 10px;
  padding-right: 12px;
  padding-top: 10px;
}

.StrockPass {
  border-bottom-color: #FFFFFF;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.FilteContainer {
  width: 100%;
  height: 200px;
  float: right;
  overflow: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
}

.FilteReportBoxHeader, .FilteReportHeader {
  float: right;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* -----------------------------ReportedBoxHeader ReportedHeader-----------------------------------*/
.ReportedBoxHeader, .ReportedHeader {
	padding-right: 0px;
}

.ReportedBoxHeader p, .ReportedHeader p {
	width: 240px;
}
/* -----------------------------ReportedBoxHeader ReportedHeader-----------------------------------*/

.FilteReportBoxHeader {
  background-color: #333333;
}

.FilteReportHeader {
  background-color: #B3B3B3;
  &:hover {
    background-color: #004467;
  }
}

.FilteReportBoxHeader p, .FilteReportHeader p {
  width: 190px;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 15px;
  padding-top: 15px;
}

.FilteReportBoxHeader p {
  font-weight: bold;
  font-size: 1.3em;
}

/* ---------------------------- EffectiveReport --------------------------*/
.FilteringReportedPhr {
	margin-top: 10px;
	margin-bottom: 20px;
}

.FilteringReported {
	width: 100%;
	margin-left: 0px;
}

.LeftArrow {
	font-size: 2em;
    display: block;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -15px;
    margin-top: 5px;
	transform:  translateX(0%) translateY(0%) rotate(-90deg);
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* ---------------------------- EffectiveReport --------------------------*/

@media only screen and (min-width: 620px) {
  .FilteReportRadio {
    max-width: 33%;
  }
}

@media only screen and (min-width: 700px) {
  .FilteReportBoxHeader p {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 770px) {
  .FilteReportRadio {
    max-width: 200px;
  }

  .FilteringReported {
    width: 28.9%;
  }

  .LeftArrow {
    margin-bottom: 0px;
    margin-top: 52px;
    transform:  translateX(0%) translateY(0%) rotate(0deg);
  }  
}

/* ---------------------------- EffectiveReport --------------------------*/
@media only screen and (min-width: 850px){
  .FilteringReported {
    width: 29.5%;
  }
  }
  
  
  @media only screen and (min-width: 900px){
  .FilteringReported {
    width: 29.7%;
  }
  }
  
  
  @media only screen and (min-width: 1000px){
  .FilteringReported {
    width: 30%;
  }
  }
  
  @media only screen and (min-width: 1100px){
    .FilteringReported {
      width: 30.4%;
    }
    }

  @media only screen and (min-width: 1250px){
  .FilteringReported {
      width: 30.8%;
  }
  }
  /* ---------------------------- EffectiveReport --------------------------*/