@charset "utf-8";
/* ScssGeneralElements */

* {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

img, object, embed, video {
  max-width: 100%;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0;
}

::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0;
}

:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0;
}


Html {
  min-height: 100%;
  position: relative;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 300px;
  /* bottom = footer height */
}

.TextBold {
  font-weight: bold;
}

.UnderPass {
  font-weight: bold;
}
/* --------------------------- Color ----------------------*/
.Txt-MidGray {
  color: #666666;
}

.DarkGray {
  background-color: #333333 !important;
}

.LnikUnderline {
  text-decoration: underline !important;
  cursor: pointer  !important;
}

/* --------------------------- Color ----------------------*/

.No_marginLeft {
  margin-left: 0px !important;
  float: left !important;
}

.No_marginLeftOnly {
  margin-left: 0px !important;
}

.No_marginRight {
  margin-right: 0px !important;
}

.No_marginButtom {
  margin-bottom: 0px !important;
}

.No_marginTop {
  margin-top: 0px !important;
}

.More_marginTop {
  margin-top: 20px !important;
}

.littleMore_marginTop {
  margin-top: 10px !important;
}

.Double_marginTop {
  margin-top: 40px !important;
}

.paddingTop {
  padding-top: 5px !important;
}

.MorePaddingTop {
  padding-top: 10px !important;
}

.DocreqPadding {
  padding-bottom: 40px;
}

.PaddingButtom {
  padding-bottom: 15px;
  overflow: hidden;
}

.UserPadding {
  padding-right: 30px !important;
}

.newUserTitlePadding {
  padding-right: 45px !important;
}

.newUserSmoPadding {
  padding-right: 15px !important;
}

.MoreUserPadding {
  padding-right: 80px !important;
}

.MorePaddingButtom {
  padding-bottom: 20px !important;
}

.Double_PaddingButtom {
  padding-bottom: 40px !important;
}

.No_PaddingButtom {
  padding-bottom: 0px !important;
}

.No_PaddingRight {
  padding-right: 0px !important;
}

.No_curser {
  cursor: default !important;
}

.gridContainer {
  width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  clear: none;
  float: none;
}

.Container {
  width: 100%;
  float: none;
  clear: both;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px auto;
  overflow: hidden;
}

header {
  background-color: #004467;
}

.FooterWrapper {
	width: 100%;
	float: right;
	position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
	overflow: hidden;
}

footer {
  width: 100%;
  float: right;
  background-color: rgb(255, 255, 255);
  border-top: 8px solid #8eb5c4;
}

.BoldTxt {
  font-weight: bold;
}

.mainFooter {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.LinkBtn {
  color: #4383CF;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: underline;
}

form {
  width: 100%;
  direction: rtl;
  float: right;
}

/*input, textarea, select {
    -webkit-appearance: none;
}*/

select {
  cursor: pointer !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  text-indent: 0px !important;
}

input:focus, textarea:focus, select:focus {
  background-color: #FFFFFF;
}
input, textarea {
 cursor: auto !important;
}

input, select, textarea {
  width: 100%;
  height: 50px;
  color: #8a8888;
  text-indent: 15px;
  font-family: inherit;
  float: right;
  display: block;
  background-color: #f6f6f6;
  box-sizing: border-box;
  border: 1px solid #B2B2B2;
  border-image: initial;
  outline: none;
  border-radius: 10px;
}

.inputlabel {
  width: 100%;
  text-align: right;
  color: #333333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  margin-bottom: 5px;
  padding-top: 15px;
}

label {
  width: 100%;
  position: relative;
  display: inline-block;
}

.inputcontent {
  width: 100%;
  float: right;
}

.Lock, .selectBtn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 6px;
    left: 6px;
    display: block;
    font-size: 2.4em;
}

.Lock {
    cursor: pointer;
}

.selectBtn {
  pointer-events: none;
}

textarea {
  height: 108px;
  min-height: 108px;
  max-height: 108px;
  max-width: 100%;
  overflow-y: auto;
  line-height: 2em;
}

.Erorr {
  p {
    color: rgb(26, 26, 26);
    font-size: 0.9em;
    padding-right: 10px;
  }
  width: 100%;
  float: right;
  height: 40px;
  text-align: center;
  background-color: #FFFFFF;
  padding-top: 5px;
  margin-top: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(26, 26, 26);
  border-image: initial;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ErorrIcon {
  color: #1A1A1A;
  font-size: 1em;
  float: right;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  display: none;
}

.UpLoudFileBtn {
  width: 100%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.FileContainer {
  overflow: hidden;
  position: relative;
  margin-top: 0px !important;
  [type="file"] {
    filter: alpha(opacity = 0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer !important;
    text-indent: 0px;
    font-size: 0.5px;
  }
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: block;
  font-weight: bold;
  float: none;
  clear: both;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  color: #FFFFFF;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.1em;
  border-radius: 10px;
}

.UpLoudFilelabel:before {
  content: "בחירת תמונה/קובץ";
}

.FilelabelSelcted:before {
  content: "החלף קובץ" !important;
}

.FilelabelDelete:before {
  content: "הסר קובץ" !important;
}

.FormBtn, .InsideFormBtn {
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: block;
  font-weight: bold;
  float: none;
  clear: both;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  color: #FFFFFF;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.1em;
  text-indent: 0px;
  border-radius: 10px;
  cursor: pointer !important;
}

.FormBtn {
  background-color: #E97A2B !important;
}

.InsideFormBtn, .FileContainer {
  background-color: #004467 !important;
  margin-top: 30px;
}

.FormBtn {
  &:active, &:hover {
    background-color: #929292 !important;
  }
}

.InsideFormBtn {
  &:hover, &:active {
    background-color: #E97A2B !important;
  }
  a {
    color: #FFFFFF !important;
    text-decoration: none !important;
  }
}

.FileContainer {
  &:hover, &:active {
    background-color: #E97A2B !important;
  }
}

.TopHeaderContent {
  width: 100%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
}

.LogoConLink {
  width: 100%;
  float: right;
  display: block;
  color: #FFFFFF;
  font-size: 100%;
}

.ContainerLogo {
  width: 100%;
  float: right;
}

.LogoIcon {
  font-size: 4em;
  float: right;
  color: #FFFFFF !important;
}

.LogoTxt {
  float: right;
  padding-right: 10px;
  width: 72%;
}

.LogoTitle {
  font-weight: bold;
}

.LogoSubTitle {
  display: none;
}

.UserAccount {
  width: 100%;
  float: left;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.BeforFooter {
	width: 100%;
  height: 102px;
	max-width: 500px;
  float: none;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-bottom: -5px;
}

.MainContent {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 50px;
  float: none;
  clear: both;
  margin: 0px auto;
  overflow: hidden;
}

.Welcome {
  display: none;
  width: 100%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.RegUser, .RegUserBoxs, .RegUserBoxsLine {
  width: 100%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.EnterTitle {
  width: 100%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  h4 {
    width: 100%;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.EnterPass, .EnterPassBox, .EnterPassBoxBtn, .ParagraphBox, .EnterSmsCodePhoneBtn {
  width: 100%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.RegUserBoxsLine {
  margin-bottom: 50px;
  border-bottom: 2px solid #DCDCDC;
}

.RegUserBoxsComm {
  padding-bottom: 40px !important;
}

.RegUserBoxs {
  padding-bottom: 60px;
}

.LessRegUserBoxs {
  padding-bottom: 50px;
}

.EnterTitle {
  height: 50px;
  padding-top: 10px;
  border-bottom: 4px solid #004467;
  h4 {
    color: #1A1A1A;
    font-weight: bold;
  }
}

.showPass {
  width: 100%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
}

.passTitle {
  max-width: 50px;
  width: 100%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.newUserBoxTitle {
  width: 100%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 15px;
  padding-top: 15px;
/*   border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  /* margin-top: 10px; */
}

@media only screen and (min-width: 450px) {
  .LogoIcon {
    font-size: 5em;
  }
}

@media only screen and (min-width: 500px) {
  .marginButtom {
    margin-bottom: 5px !important;
  }
}

@media only screen and (min-width: 560px) {
  .marginVolunteer {
    margin-bottom: 5px !important;
  }
}

@media only screen and (min-width: 600px) {
.UpLoudFileBtn {
    max-width: 227px;
    margin-left: 30px;
    margin-bottom: 0px;
}
}

@media only screen and (min-width: 700px) {
  .ContainerLogo {
    width: 410px;
  }
  .MainContent {
    float: none;
    clear: both;
    margin: 0px auto;
  }
  .InsideFormBtn {
    margin-top: 47px;
  }
  .showPass {
    max-width: 120px;
    display: block;
    float: left;
    color: rgb(26, 26, 26);
    font-size: 1em;
    text-align: left;
    text-indent: 5px;
  }
  .SeeIcon {
    color: rgb(26, 26, 26);
    display: block;
    float: left;
    padding-left: 10px;
    padding-top: 5px;
  }
  .MoreUserPadding {
    padding-right: 70px !important;
  }
  body {
	  margin-bottom: 340px; /* bottom = footer height */
  }
  .BeforFooter {
    height: 120px;
    max-width: 600px;
  }
  .UpLoudFileBtn {
      max-width: 277px;
  }
}

@media only screen and (min-width: 720px) {
  .UpLoudFileBtn {
      max-width: 285px;
  }
}

@media only screen and (min-width: 860px) {
  .EnterPassBox {
    max-width: 31.2%;
    margin-left: 13px;
  }
  .EnterPassBoxBtn {
    max-width: 31.2%;
    margin-left: 25px;
    margin-left: 0px;
  }
  .EnterSmsCodeBtn, .EnterSmsCodePhoneBtn {
    max-width: 65.5%;
  }
}

@media only screen and (min-width: 900px) {
  .EnterPassBox {
    max-width: 31.3%;
  }
  .EnterPassBoxBtn {
    max-width: 31.3%;
    margin-left: 0px;
  }
  .EnterSmsCodeBtn, .EnterSmsCodePhoneBtn {
    max-width: 65.7%;
  }
  .MoreUserPadding {
    padding-right: 70px !important;
  }
  .BeforFooter {
    height: 140px;
  }
}

@media only screen and (min-width: 1000px) {
  .LogoSubTitle {
    display: block;
  }
  .UserAccount {
    max-width: 550px;
  }
  .UpLoudFilelabel:before {
    content: "בחירת קובץ";
  }
  .MoreUserPadding {
    padding-right: 70px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .UserAccount {
    max-width: 660px;
  }
  .Welcome {
    width: 43%;
    display: block;
  }
  .RegUser {
    width: 57%;
  }
  .EnterPassBox, .EnterPassBoxBtn {
    max-width: 32%;
  }
  .EnterSmsCodeBtn, .EnterSmsCodePhoneBtn {
    max-width: 65.4%;
  }
}

@media only screen and (min-width: 1250px) {
  .gridContainer {
    max-width: 1920px;
  }
  .Container {
    max-width: 1250px;
  }
  .LogoIcon {
    font-size: 6.1em;
  }
  .Welcome, .ContainerLogo {
    width: 45%;
  }
  .UserAccount {
    max-width: 55%;
  }
  .RegUser {
    width: 55%;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    opacity: 1;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 1;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    opacity: 1;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    opacity: 1;
  }
  .BeforFooter {
    height: 160px;
  }
}

@media only screen and (min-width: 1920px) {
  .BeforFooter {
    max-width: 968px;
    height: 202px;
  }
}