@charset "utf-8";
/* ScssuserForm */

.ng-invalid:not(form)  {
    border-right: 5px solid #a94442;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    float: right;
    padding-right: 1px;
}

/*.ng-valid{
  background-color: white;
}*/

.Logout, .LogoutBtn, .accordionSave, .accordionSend, .UserAccountForm {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.UserAccountForm {
  color: #FFFFFF;
  clear: left;
}

.NameUser, .EmailUser {
  width: 100%;
  float: right;
  margin-bottom: 15px;
  margin-top: 30px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  a {
    color: rgb(255, 255, 255);
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: underline !important;
  }
  p {
    margin-bottom: 10px;
  }
}

.NameUser {
  a {
    font-size: 1em;
  }
  p {
    font-size: 1.4em;
  }
}

.EmailUser {
  a, p {
    font-size: 1.2em;
  }
  p {
    float: right;
  }
}
.AboutuserForm {
  width: 100%;
  float: right;
  margin-bottom: 30px;
  h1, p {
    width: 100%;
    float: right;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 2.7em;
    font-weight: bold;
  }
  p {
    font-size: 1.5em;
  }
}

.userFormInstructions {
  width: 100%;
  float: right;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  h2 {
    font-weight: bold;
    font-size: 1.5em;
  }
  h3 {
    font-weight: bold;
  }
}

.RemarkTitle {
  width: 100%;
  float: right;
  font-weight: bold;
  margin-bottom: 5px;
}

.accordionInputBox {
  width: 100%;
  float: right;
}

.RegUserBoxsLine {
  margin-bottom: 40px;
}

/*----------------------------------- Upload File Process -------------------------*/

.DocreqContainer, .DocreqSelect, .ProcessIcon, .DocreqUpLoudBoxLine {
  width: 100%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.DocreqContainer p {
  width: 75%;
  float: right;
  padding-bottom: 5px;
}

.DocreqSelect {
  max-width: 40px;
  margin-left: 10px;
}

.EmptyIcon, .ChackIcon {
  font-size: 2.5em;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.EmptyIcon, .ChackIcon {
  display: none;
}

.SelctedChack {
  display: block;
  cursor: pointer !important;
}

.UpLoudFileBtnBox {
  width: 100%;
  float: right;
  margin-top: 10px;
}

.DocreqUpLoudBoxLine {
  border-bottom: 2px solid #DCDCDC;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.FileNotUpLoad {
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 20px;
  margin-right: 20px;
}

.ProcessBox {
  width: 100%;
  height: 50px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #E6E6E6;
  border: 1px solid #BFBFBF;
  border-radius: 5px;
  margin-top: 20px;
  display: none;
}

.ProcessIcon {
  float: left;
  font-size: 2.5em;
  max-width: 40px;
  padding-top: 4px;
  margin-left: 5px;
  cursor: pointer;
}

.ProcessColor {
  width: 50%;
  float: right;
  height: 43px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #004467;
  border-radius: 5px;
  margin: 2px;
  display: block;
}

/*----------------------------------- WorkingProcess Selcted -------------------------*/

.SelctedBtn {
  background-color: #E6E6E6 !important;
  &:hover {
    background-color: #E6E6E6 !important;
  }
}

.PersonaLetter {
  width: 100%;
  float: right;
}

.PersonaLetterList {
  counter-reset: subsection;
  list-style-type: none;
}

.PersonaLetterTitle::before {
  counter-increment: subsection;
  content: counters(subsection, ".") ".";
  margin-left: 5px;
}

.WarrCercheckbox {
  width: 50px;
  float: right;
  cursor: pointer;
}

.WarrCercheTitle {
  width: 70%;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: -6px;
}

.dismiss {
  display: none;
}

/*----------------------------------- Military -------------------------*/

.MilitaryRadioBox {
  width: 100%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.PermanentDateBox {
  display: none;
}

.SaderDateBox {
  display: block;
}

.WarrCercheBox {
  padding-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}

.Warrcheck {
  width: 100%;
  float: right;
  margin-bottom: 10px;
  margin-top: 10px;
}

.MilitaryRadioBox {
  background-color: #F0F0F0;
  border-radius: 10px;
}

.MilitaryRadioCon {
  width: 100%;
  max-width: 605px;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.MilTitle {
  float: right;
}

.MilBox {
    width: 100%;
    float: right;
    margin-bottom: 5px;
    margin-top: 5px;
}

.EconomicBox, .DeclarationBox {
  width: 100%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.EconomicBoxList {
  width: 45%;
  float: right;
  margin-left: 11px;
 }

 .EconomicBoxList p{
  width: 100%;
  float: right;
  margin-bottom: 5px;
  font-size: 1em;
 }

.DeclarationBox {
  width: 100%;
  float: right;
}

.RadioTitle {
  float: right;
  font-size: 1em;
}

.RadioBtn {
  width: 22px;
  float: right;
  height: 30px;
  margin-left: 5px;
}

.RadioBoxCon {
  width: 50px;
  float: right;
}

.EconomicRadio {
  float: right;
  margin-bottom: 83px;
}

.EconomicRadioBox {
  width: 100px;
  float: right;
}

.EconomicPar {
  width: 75%;
  float: right;
  padding-top: 0px;
}

.DeclarationPar {
  width: 75%;
  float: right;
  padding-top: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.DeclarationTitle {
  padding-top: 30px;
  margin-bottom: 0px;
}

/* ------------------------------ Reporting a work  -------------------------------- */
.WorkConBox, .WorkBox, .WorkCon, .WorkRemak {
  width: 100%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.WorkConBox {
  background-color: #F0F0F0;
  border-radius: 10px;
}

.WorkCon {
  max-width: 580px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.WorkBox {
  margin-bottom: 5px;
  margin-top: 5px;
}

.WorkTitle {
  float: right;
  margin-right: 10px;
}

.WorkRemak {
  margin-top: 20px;
  h2 {
    font-weight: bold;
    font-size: 1.4em;
    float: right;
    margin-left: 15px;
  }
  p {
    float: right;
  }
}
/* ------------------------------ Reporting a work  -------------------------------- */

@media only screen and (min-width: 350px) {
.EconomicPar {
    padding-top: 7px;
}

.NameUser {
    max-width: 320px;
    padding-right: 5px;
    float: right;
}
}

@media only screen and (min-width: 380px) {
.WarrCercheTitle {
    padding-top: 5px;
    margin-top: 0px;
}

.EconomicRadio {
    margin-bottom: 61px;
}

.NameUser {
    max-width: 100%;
}

.NameUser a {
    font-size: 1.3em;
}

.NameUser p {
    font-size: 1.6em;
}

.EmailUser {
  a, p{
    font-size: 1.3em; 
  }
}
}

@media only screen and (min-width: 400px) {
.EconomicBoxList {
    width: 55%;
    margin-left: 15px;
}

.EconomicBoxList p {
    font-size: 1.1em;
}

.RadioBtn {
    width: 25px;
    height: 26px;
    margin-left: 8px;
}

.EconomicRadioBox {
  width: 110px;
}

.EconomicRadio {
    margin-bottom: 50px;
}

.RadioBoxCon {
    width: 52px;
}
}

@media only screen and (min-width: 430px) {
.WarrCercheTitle {
    width: 75%;
}

.EmailUser a, .EmailUser p {
  font-size: 1.4em;
}
}

@media only screen and (min-width: 500px) {
.EconomicBoxList {
  width: 58%;
  float: right;
  margin-left: 30px;
}

.EconomicBoxList p {
    font-size: 1.2em;
}

.RadioBtn {
  width: 26px;
  height: 30px;
  margin-left: 10px;
}

.EconomicRadioBox {
  width: 122px;
}

.EconomicRadio {
  margin-bottom: 39px;
}

.RadioBoxCon {
    width: 61px;
}

.RadioTitle {
  font-size: 1.2em;
}

.EmailUser a, .EmailUser p {
  font-size: 1.5em;
}
}

@media only screen and (min-width: 510px) {
.EconomicRadio {
    margin-bottom: 33px;
}

.EconomicRadioMore {
   margin-top: 20px;
}
}

@media only screen and (min-width: 530px) {
.EconomicRadioMore {
   margin-top: 0px;
}
}

@media only screen and (min-width: 540px) {
.EconomicRadio {
    margin-bottom: 33px;
}

.EconomicRadioMore {
   margin-top: 0px;
}
}

@media only screen and (min-width: 600px) {
.EconomicBoxList {
    width: 60%;
}

.EconomicRadio {
    margin-bottom: 30px;
}
}

@media only screen and (min-width: 620px) {
  .EconomicRadio {
    margin-bottom: 30px !important;
}
}

@media only screen and (min-width: 700px) {
  .UserAccountForm {
    padding-top: 20px;
  }
  .NameUser, .EmailUser {
    width: 64%;
    float: right;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 0px;
  }
  .NameUser p {
    margin-bottom: 5px;
  }
  .EmailUser {
    margin-top: 20px;
  }
  .Logout {
    max-width: 195px;
    float: left;
    padding-top: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .Warrcheck {
    width: 47%;
    margin-left: 30px;
  }

  .InputBoxBginDate {
	  width: 100% !important;
	  margin-left: 0px !important;
   }

  .MoreInputBoxBig {
    width: 100% !important;
   }

  .MilBox {
    width: 20%;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  /* ------------------------------ Reporting a work  -------------------------------- */
  .WorkBox {
    width: 50%;
    margin-bottom: 0px;
    margin-top: 0px;
}	
/* ------------------------------ Reporting a work  -------------------------------- */	

}

@media only screen and (min-width: 750px) {
  .accordionInputBox {
    width: 47%;
    margin-left: 30px;
  }
  .InputBaginDate, .InputEndDate, .EconomicPlaceBox {
    width: 100%;
  }
  .InputBoxBig {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .InputBoxDate, .InputBoxStatos {
    width: 100%;
    margin-left: 0px;
  }
  /*----------------------------------- Military -------------------------*/
  .WarrCercheBox {
    width: 100% !important;
    padding-top: 20px;
  }
  .Warrcheck {
    width: 47%;
    margin-left: 30px;
  }
  
  .EconomicRadioBox {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 900px) {
  .accordionSave {
    margin-right: 30px;
    max-width: 285px;
  }
  .accordionSend {
    max-width: 285px;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 950px) {
  .accordionInputBox {
    width: 48%;
  }
  .EconomicPlaceBox {
    width: 100%;
  }
  .InputBoxStatos {
    float: left;
  }
  .InputBaginDate, .InputEndDate {
    width: 30% !important;
    margin-left: 39px;
  }
  .InputTuitionAmount {
    width: 30% !important;
    margin-left: 39px;
    float: left;
  }
  /*----------------------------------- Upload File Process -------------------------*/
  .DocreqUpLoudBoxLine {
    width: 100%;
    margin-right: 0px;
  }
  /*----------------------------------- WorkingProcess Selcted -------------------------*/
  .WorkingProcess {
    max-width: 56.94%;
  }
  .UpLoudFileBoxSlected {
    width: 36%;
  }
}

@media only screen and (min-width: 970px) {
  .EconomicPlaceBox {
    width: 48.19%;
  }
}

@media only screen and (min-width: 1000px) {
  .UserAccountForm {
    padding-top: 73px;
    width: 554px;
  }
  .EconomicRadio {
    margin-bottom: 13px !important;
  }
  .NameUser p {
    font-size: 1.5em;
  } 
  .NameUser a {
    font-size: 1.2em;
  }
  .Logout {
    padding-top: 10px;
  }
}

@media only screen and (min-width: 1010px) {
.EconomicRadio {
    margin-bottom: 10px !important;
}

.EconomicRadioBox {
    width: 150px;
}

.EconomicBoxList p {
    margin-bottom: 13px;
}

}

@media only screen and (min-width: 1100px) {
  .DeclarationPar {
    width: 94%;
  }
}

@media only screen and (min-width: 1125px) {
  .Warrcheck {
    width: 47%;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  /*----------------------------------- Military -------------------------*/
  .Warrcheck {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1250px) {
  .UserAccountForm {
    padding-top: 94px;
  }
  .InputBaginDate, .InputEndDate, .InputTuitionAmount {
    width: 31% !important;
  }
  /*----------------------------------- WorkingProcess Selcted -------------------------*/
  .WorkingProcess {
    max-width: 64.94%;
  }
  .UpLoudFileBoxSlected {
    width: 28%;
  }
}

@media only screen and (min-width: 1350px) {
  .accordionInputBox {
    width: 48%;
  }
  .InputBoxDate, .InputBoxStatos {
    width: 48.71%;
  }
  /*----------------------------------- WorkingProcess Selcted -------------------------*/
  .WorkingProcess {
    max-width: 66.94%;
  }
  .UpLoudFileBoxSlected {
    width: 26%;
  }
}