<!--<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
-->
<div class="MainContent home cleanClass" id="print-section">
	<!--[ngClass]="{'cleanClass blockPages': this.authService.currentUser.role < 8}"-->

	<div class="Container">
		<div class="AboutuserForm">
			<h1>קצת עלינו</h1>
			<!--<embed src="hhttp://www.pdf995.com/samples/pdf.pdf" width="800px" height="2100px" />-->
			<!--	http://localhost:5002/uploads/output.pdf" -->
			<!--<pdf-viewer [src]="'http://localhost:5002/public/uploadsPDF/output.pdf'" 
             
              [original-size]="true" 
              style="display: block;"
  			></pdf-viewer>-->
			<p>
				הקרן לעידוד תעסוקה במגזר תעשיות עתירות ידע, מעוניינת לעזור לסטודנטים ללמוד לימודים חוץ אקדמיים.<br/> העזרה הינה דרך הענקת
				מלגות כספיות, על פי תקציב רבעוני הקיים בקרן והמנוהל על-ידה.
			</p>
		</div>


		<!--on-mouseover='over()'-->

		<accordion [showArrows]="true">
	
			<accordion-group [isOpened]="true">
				<accordion-heading>
					<p class="accordionTitle UserPadding">פרטים אישיים</p>
				</accordion-heading>
				<div class="accordionContent BoxTopStrokeline BoxStrokeline">
					<form #detailsForm="ngForm" name="detailsForm" id="detailsForm">
						<ul class="EnterPass RegUserBoxs RegUserBoxsLine PersonalInfo">
							<li class="accordionInputBox">
								<p class="inputlabel">שם מלא</p><input id="AcformFirstName" [(ngModel)]="user.FullName" required type="text" name="FullName" #FullName="ngModel"></li>

							<li class="accordionInputBox No_marginLeft">
								<p class="inputlabel">מספר ת"ז</p><input id="AcformID" [disabled]="true" [(ngModel)]="user.IdentityId" type="text" name="IdentityId"></li>
							<li class="accordionInputBox">
								<p class="inputlabel">אימייל</p><input id="AcformEmail" [disabled]="true" [(ngModel)]="user.Email" type="email" name="Email"></li>
							<li class="accordionInputBox No_marginLeft">
								<p class="inputlabel">טלפון נייד</p><input id="AcformPhone" [(ngModel)]="user.Mobile" required type="text" name="Mobile" #Mobile="ngModel">
							</li>
							<li class="accordionInputBox InputBoxBig">
								<p class="inputlabel">כתובת מגורים</p><input id="AcformAddrees" [(ngModel)]="user.Adress" required type="text" name="Adress" #Adress="ngModel"></li>

						</ul>
						<li class="page-break"></li>
						<ul class="EnterPass">
							<li class="accordionInputBox InputBoxDate">
								<p class="inputlabel">תאריך לידה</p>
								<label class="inputcontent">
									<span class="selectBtn icon-07" >
									</span>
								</label>
								<my-date-picker [options]="myDatePickerOptions" [ngModelOptions]="{standalone: true}" [(ngModel)]="datesmodel.BirthDate"
								 required name="BirthDate" #BirthDate="ngModel" (dateChanged)="onDateChanged($event, 'BirthDate')"></my-date-picker>
							</li>

							<li class="accordionInputBox InputBoxStatos">
								<p class="inputlabel">מצב משפחתי <span class="smullTxt">(רווק/ה, נשוי/נשואה, חד הורי/ת, גרוש/ה + ילדים)</span></p>
								<input id="AcformStatos" [(ngModel)]="user.FamalyStatus" type="text" name="FamalyStatus" required #FamalyStatus="ngModel">
							</li>

							<li class="accordionInputBox">
								<p class="inputlabel">ארץ לידה</p>
								<input id="AcformCountry" [(ngModel)]="user.BirthState" type="text" name="BirthState" required #BirthState="ngModel">
							</li>

							<li class="accordionInputBox No_marginLeft">
								<p class="inputlabel">שנת עליה</p>
								<label class="inputcontent">
									<span class="selectBtn icon-08"></span>
									<select [(ngModel)]="user.AliyaYear"  name="AliyaYear"  #AliyaYear="ngModel">
										<option *ngFor="let y of years" [value]="y.value">{{y.value}}</option>
									</select>
								</label>
							</li>



							<li class="accordionInputBox InputBoxBig">
								<p class="inputlabel">הנך מתנדב/ת במקום כלשהו, נא ציין/י את שמו / שם הפרויקט</p>
								<input id="AcformVolunteer" [(ngModel)]="user.Volunteer" type="text" name="Volunteer" required #Volunteer="ngModel">
							</li>
						</ul>
	<li class="page-break"></li>

					</form>
				</div>
			</accordion-group>



			<accordion-group [isOpened]="true">
				<accordion-heading>
					<p class="accordionTitle UserPadding">פרטי הרשמתך למכללה</p>
				</accordion-heading>
				<div class="accordionContent BoxTopStrokeline BoxStrokeline">
					<form #collegeForm="ngForm" name="collegeForm" id="collegeForm">
						<ul class="EnterPass RegUserBoxs RegUserBoxsLine CollegeReg">
							<li class="accordionInputBox InputBoxBig">
								<p class="inputlabel">שם המכללה אליה נרשמת</p>
								<!--<input id="CollegeName" type="text" name="CollegeName">-->
								<label class="inputcontent">
								<span class="selectBtn icon-08"></span>
								
								<select  [(ngModel)]="user.College" name="College" (change)="onSelect($event.target.value)"  required #College="ngModel">
									<option *ngIf='user.College == 0' value="0">תבחר מכללה</option>
									<option *ngFor="let c of httpService.colleges" [value]="c.Id">{{c.Name}}</option>
								</select>
							</label>
							</li>
							<li class="accordionInputBox InputBoxBig">
								<p class="inputlabel">שם ההסמכה/קורס/תואר אליו נרשמת</p>
								<!--<input id="qualification" type="text" name="qualification"></li>-->
								<label class="inputcontent">
								<span class="selectBtn icon-08"></span>
								<select  [(ngModel)]="user.Certification_Id" name="Certification" required #Certification="ngModel">
									
										<option *ngFor="let certification of certifications" [value]="certification.Id">{{certification.Name}}</option>
								</select>
							</label>
						</ul>

						<ul class="EnterPass">
							<li class="accordionInputBox">
								<p class="inputlabel">מועד תחילת הלימודים</p>
								<label class="inputcontent">
							<span class="selectBtn icon-07"></span>
							
							</label>
								<my-date-picker [options]="myDatePickerOptions" [ngModelOptions]="{standalone: true}" [(ngModel)]="datesmodel.LearningSrats"
								 required name="LearningSrats" #LearningSrats="ngModel" (dateChanged)="onDateChanged($event, 'LearningSrats')"></my-date-picker>

							</li>

							<li class="accordionInputBox No_marginLeft">
								<p class="inputlabel">מועד משוער לסיום לימודים</p>
								<label class="inputcontent">
								<span class="selectBtn icon-07"></span>
							</label>
								<my-date-picker [options]="myDatePickerOptions" [ngModelOptions]="{standalone: true}" [(ngModel)]="datesmodel.LearningFinish"
								 required name="LearningFinish" #LearningFinish="ngModel" (dateChanged)="onDateChanged($event, 'LearningFinish')"></my-date-picker>
							</li>

							<li class="accordionInputBox">
								<p class="inputlabel">גובה שכר הלימוד</p>
								<input id="AcformTuitionAmount" type="text" [(ngModel)]="user.TuitionFees" name="TuitionFees" required #TuitionFees="ngModel">
							</li>

							<li class="accordionInputBox No_marginLeft">
								<p class="inputlabel">שם איש קשר/יועץ לימודים</p>
								<!--<input id="AcformContactName" type="text" name="AcformContactName">-->
								<label class="inputcontent">
								<span class="selectBtn icon-08"></span>
								<select [(ngModel)]="user.Employee_Id" name="inputSubject" required #inputSubject="ngModel">
									<option *ngIf='user.Person_id == 0' value="0">תבחר יועץ</option>
									<option *ngFor="let e of employees" [value]="e.Person_id">{{e.FullName}}</option>
								</select>
							</label>
							</li>
						</ul>
					</form>
				</div>
			</accordion-group>
			<li class="page-break"></li>
			<accordion-group [isOpened]="true">
				<accordion-heading>
					<p class="accordionTitle UserPadding">פרטים על שירות צבאי</p>
				</accordion-heading>
				<div class="accordionContent BoxTopStrokeline BoxStrokeline">
					<form #armyForm="ngForm" name="armyForm" id="armyForm">
						<ul class="EnterPass MilitarySer" [ngClass]="{'RegUserBoxs RegUserBoxsLine': user.TypeOfService < 3 }">
							<li class="accordionInputBox TypeServiceBox MoreInputBoxBig">
								<p class="inputlabel">סוג שירות צבאי</p>
								<div class="MilitaryRadioBox">
									<div class="MilitaryRadio" *ngFor="let type of TypesOfService">
										<input class="RadioBtn" (change)="onSelectionChange(type)" [(ngModel)]="user.TypeOfService" type="radio" name="AcformMilitaryType"
										 [value]="type.value">
										<p>{{type.display}}</p>
									</div>
								</div>

							</li>
							<li *ngIf="user.TypeOfService === 3" class="accordionInputBox No_marginLeft" [ngClass]="{'InputBoxBginDate': user.TypeOfService > 1 }">
								<p class="inputlabel">ציין/י סיבה לפטור</p>
								<input id="Acformdismiss" [(ngModel)]="user.ReasonForExemption" type="text" name="Acformdismiss">
							</li>
							<li *ngIf="user.TypeOfService < 2" class="accordionInputBox WarrCercheBox No_marginLeft MoreInputBoxBig">

								<div class="DocreqSelect">
									<span *ngIf="!user.Fighter" (click)='user.Fighter =1' class="No_curser EmptyIcon icon-10 SelctedChack"></span>
									<span *ngIf="user.Fighter==1" (click)='user.Fighter = null' class="No_curser ChackIcon icon-11 SelctedChack"></span></div>
								<p class="inputlabel WarrCercheTitle">ברשותי תעודת לוחם/ת</p>
							</li>
							<li *ngIf="user.TypeOfService < 2" class="accordionInputBox">
								<p class="inputlabel">מספר אישי</p>
								<input id="AcformPersonalNumber" [(ngModel)]="user.PersonalNumber" type="text" name="AcformPersonalNumber">
							</li>
							<li *ngIf="user.TypeOfService < 3" class="accordionInputBox No_marginLeft" [ngClass]="{'InputBoxBginDate': user.TypeOfService > 1 }">
								<p class="inputlabel">תאריך גיוס</p>
								<label class="inputcontent">
								<span class="selectBtn icon-07"></span>
							</label>
								<my-date-picker [options]="myDatePickerOptions" [ngModelOptions]="{standalone: true}" [(ngModel)]="datesmodel.ArmyDate" (dateChanged)="onDateChanged($event, 'ArmyDate')"></my-date-picker>
							</li>
						</ul>

						<ul class="EnterPass">
							<li *ngIf="user.TypeOfService < 3" class="userFormInstructions">
								<h2>אנא ציין/י את תאריך השחרור משרות</h2>
							</li>

							<li *ngIf="user.TypeOfService < 3" class="accordionInputBox">

								<p class="inputlabel">תאריך שחרור</p>
								<label class="inputcontent">
						<span class="selectBtn icon-07"></span>
						</label>
								<my-date-picker [options]="myDatePickerOptions" [ngModelOptions]="{standalone: true}" [(ngModel)]="datesmodel.ShihrurDate"
								 (dateChanged)="onDateChanged($event, 'ShihrurDate')"></my-date-picker>
							</li>


							<li *ngIf="user.TypeOfService < 2" class="accordionInputBox No_marginLeft">
								<p class="inputlabel">דרגה בה השתחררת</p>
								<input id="Acformrank" [(ngModel)]="user.ArmyDegree" type="text" name="Acformrank">
							</li>

							<li *ngIf="user.TypeOfService < 3" class="accordionInputBox" [ngClass]="{'InputBoxBig': user.TypeOfService < 2, 'No_marginLeft': user.TypeOfService == 2 }">
								<p class="inputlabel">תפקיד</p>
								<input id="AcformJob" type="text" [(ngModel)]="user.ArmyRole" name="AcformJob">
							</li>
						</ul>
					</form>
				</div>
			</accordion-group>
			<li class="page-break"></li>

			<accordion-group [isOpened]="true" >
				<accordion-heading>
					<p class="accordionTitle UserPadding">מסמכים נדרשים</p>
				</accordion-heading>
				<div class="accordionContent BoxTopStrokeline BoxStrokeline hideSection">

					<div class="userFormInstructions">
						<h2>נא לצרף את המסמכים הנדרשים</h2>
						<p>* ניתן לעלות מקסימום גודל קובץ - 2 mb</p>
					</div>

					<div *ngIf="docsmodelForPdf.Bagrut_doc" class="DocreqContainer">

						<p>תעודת בגרות מלאה או חלקית הכוללת ציוני בגרות במתמטיקה ואנגלית</p>
						<!--<a href="http://localhost:5002/uploads/PDFFile.pdf">dsdsf</a>-->
						<!--<div class="UpLoudFileBtnBox Mypointer">
								<div class="UpLoudFileBtn Mypointer">
									<div class="Mypointer" [ngClass]="{'FileContainer':true, 'UpLoudFilelabel':docsmodel.Bagrut_doc==='קובץ לא צורף', 'FilelabelSelcted':docsmodel.Bagrut_doc!=='קובץ לא צורף'}">
										<input class="Mypointer" required='required' name='Bagrut_doc' type="file" accept="image/jpeg, image/png, image/jpg,.pdf,.doc,.docs,.gif"
											(change)="fileChangeEvent($event)">
									</div>
								
								</div>
								<p class="FileNotUpLoad">{{docsmodel.Bagrut_doc}}</p>
							</div>-->


						<!--							<div class="ProcessBox"><span class="ProcessIcon icon-09"></span>
							<div class="ProcessColor"></div>
						</div>-->
						<!--<embed src="pdfSrc" width="800px" height="2100px" />-->
						<iframe [src]="docsmodelForPdf.Bagrut_doc" width="800px" height="1200px" type='application/pdf'></iframe>
						<!--	<pdf-viewer class="a4Page" [src]="user.Bagrut_doc" 

										[page]="page"
										[original-size]="false"
											
											style="display: block;width:600px; height:1000px;"
									></pdf-viewer>-->

						<!--	<div style="width:100%;height:100%;position:relative;background-color:white">
								<object [data]="user.Bagrut_doc" 
									type="application/pdf" width="100%" height="100%">
									<param name="view" value="Fit"/>
								</object>
							</div>-->
						<div class="DocreqUpLoudBoxLine"></div>
					</div>


					<div *ngIf="docsmodelForPdf.Toar_doc" class="DocreqContainer">
						<p>תואר אקדמי / תעודה מקצועית אחרת</p>

						<iframe [src]="docsmodelForPdf.Toar_doc" width="800px" height="1200px" type='application/pdf'></iframe>
				<div class="DocreqUpLoudBoxLine"></div>
					</div>

					<div *ngIf="docsmodelForPdf.Shihrur_doc" class="DocreqContainer">
						<p>תעודת שחרור מצה"ל / שירות לאומי - עד 5 שנים משירות סדיר</p>

						<iframe [src]="docsmodelForPdf.Shihrur_doc" width="800px" height="1200px" type='application/pdf'></iframe>
				<div class="DocreqUpLoudBoxLine"></div>
					</div>



					<div *ngIf="docsmodelForPdf.CV_doc" class="DocreqContainer">
						<p>קורות חיים</p>

						<iframe [src]="docsmodelForPdf.CV_doc" width="800px" height="1200px" type='application/pdf'></iframe>
				<div class="DocreqUpLoudBoxLine"></div>
					</div>



					<div *ngIf="docsmodelForPdf.TZ_doc" class="DocreqContainer">
						<p>תעודת זהות כולל הספח / תעודת תושב / דרכון</p>

						<iframe [src]="docsmodelForPdf.TZ_doc" width="800px" height="1200px" type='application/pdf'></iframe>
				<div class="DocreqUpLoudBoxLine"></div>
					</div>

					<div *ngIf="docsmodelForPdf.IshurKabala_doc||docsmodelForPdf.Hamlaca_doc" class="userFormInstructions">
						<h2>אישורי מכללה</h2>
					</div>

					<div *ngIf="docsmodelForPdf.IshurKabala_doc" class="DocreqContainer">
						<p>אישור קבלה ללימודים במכללה</p>

						<iframe [src]="docsmodelForPdf.IshurKabala_doc" width="800px" height="1200px" type='application/pdf'></iframe>
				<div class="DocreqUpLoudBoxLine"></div>
					</div>


					<div *ngIf="docsmodelForPdf.Hamlaca_doc" class="DocreqContainer">
						<p>מכתב המלצה מיועץ הלימודים של המכללה</p>

						<iframe [src]="docsmodelForPdf.Hamlaca_doc" width="800px" height="1200px" type='application/pdf'></iframe>
				<div class="DocreqUpLoudBoxLine"></div>
					</div>

					<div *ngIf="docsmodelForPdf.Bank_doc" class="userFormInstructions">
						<h2>מסמכי בנק</h2>
					</div>
					<div *ngIf="docsmodelForPdf.Bank_doc" class="DocreqContainer">
						<p>3 חודשי חשבון בנק (עובר ושב אחרונים)</p>

						<iframe [src]="docsmodelForPdf.Bank_doc" width="800px" height="1200px" type='application/pdf'></iframe>
				<div class="DocreqUpLoudBoxLine"></div>
					</div>




				</div>
			</accordion-group>

			<accordion-group [isOpened]="true">
				<accordion-heading>
					<p class="accordionTitle UserPadding">פירוט מצב כלכלי</p>
				</accordion-heading>
				<div class="accordionContent BoxTopStrokeline BoxStrokeline">
					<ul class="EnterPass LessRegUserBoxs RegUserBoxsLine EconomicStat">
						<li class="accordionInputBox EconomicBoxList">
							<p>האם יש בבעלותך דירה, או יותר מ-33% בעלות על דירה ?</p>
							<p>האם יש בבעלותך רכב המשמש אותך לפחות 33% מהזמן?</p>
							<p>האם עבדת ב-24 החודשים האחרונים?</p>
						</li>

						<li class="EconomicRadioBox">
							<div class="EconomicRadio" *ngFor="let choice of choices">
								<input [(ngModel)]="user.HaveFlat" [value]="choice.value" class="RadioBtn EconomicRadioBtn" type="radio" name="Apartment">
								<p>{{choice.display}}</p>
							</div>

							<div class="EconomicRadio" *ngFor="let a of choices">
								<input [(ngModel)]="user.HaveCar" [value]="a.value" class="RadioBtn EconomicRadioBtn" type="radio" name="car">
								<p>{{a.display}}</p>
							</div>

							<div class="EconomicRadio" *ngFor="let b of choices">
								<input [(ngModel)]="user.HaveWork" [value]="b.value" class="RadioBtn EconomicRadioBtn" type="radio" name="work">
								<p>{{b.display}}</p>
							</div>
						</li>
					</ul>
					<ul>
						<li *ngIf='user.HaveWork == 1' class="userFormInstructions No_marginButtom MorePaddingTop">
							<h2>אנא ציין/י פרטים על מקום עבודה</h2>
						</li>
						<li *ngIf='user.HaveWork == 1' class="accordionInputBox EconomicPlaceBox">
							<p class="inputlabel">מקום/ות עבודה ב-24 החודשים האחרונים</p>
							<input id="EconomicPlace" [(ngModel)]="user.WorkPlace24" type="text" name="EconomicWork24">
						</li>
						<li *ngIf='user.HaveWork == 1' class="accordionInputBox No_marginLeft EconomicPlaceBox">
							<p class="inputlabel">משכורת ממוצעת לחודש ברוטו ב-24 החודשים האחרונים</p>
							<input id="EconomicAvrage" [(ngModel)]="user.SallaryAvg24" type="text" name="EconomicSalary24">
						</li>
					</ul>
					<li class="page-break"></li>
					<ul class="EnterPass">
						<li class="userFormInstructions FloatmarginTopPrint">
							<h2>כיצד בכוונתך לממן את הלימודים? סמן את כל רלוונטי</h2>
						</li>
						<li class="EconomicBox">
							<div class="DocreqSelect">
								<span *ngIf="!user.Work" (click)='user.Work = 1 ' class="No_curser EmptyIcon icon-10 SelctedChack"></span>
								<span *ngIf="user.Work" (click)='user.Work = null ' class="No_curser ChackIcon icon-11 SelctedChack"></span></div>
							<p class="EconomicPar paddingTop">עבודה בזמן הלימודים</p>
						</li>

						<li *ngIf="user.Work" class="accordionInputBox">
							<p class="inputlabel">ציין/ני מקום עבודה</p>
							<input id="EconomicWorkPlace" [(ngModel)]="user.WorkPlace" type="text" name="EconomicWorkPlace">
						</li>

						<li *ngIf="user.Work" class="accordionInputBox No_marginLeft MorePaddingButtom">
							<p class="inputlabel">משכורת חודשית ברוטו צפויה</p>
							<input id="EconomicPayment" [(ngModel)]="user.SallaryAvg" type="text" name="EconomicSalary">
						</li>

						<li class="EconomicBox MorePaddingButtom">
							<div class="DocreqSelect">
								<span *ngIf="!user.Parents" (click)='user.Parents = 1' class="No_curser EmptyIcon icon-10 SelctedChack"></span>
								<span *ngIf="user.Parents" (click)='user.Parents = null' class="No_curser ChackIcon icon-11 SelctedChack"></span></div>
							<p class="EconomicPar paddingTop">הורים / קרובי משפחה</p>
						</li>

						<li class="EconomicBox">
							<div class="DocreqSelect">
								<span *ngIf="!user.Loan" (click)='user.Loan = 1' class="No_curser EmptyIcon icon-10 SelctedChack"></span>
								<span *ngIf="user.Loan" (click)='user.Loan = null' class="No_curser ChackIcon icon-11 SelctedChack"></span></div>
							<p class="EconomicPar paddingTop">הלוואה למימון לימודים</p>
						</li>

						<li *ngIf="user.Loan" class="accordionInputBox MorePaddingButtom">
							<p class="inputlabel">ציין/י מקור מימון</p>
							<input id="EconomicFunding" [(ngModel)]="user.LoanPlace" type="text" name="EconomicFunding">
						</li>

						<li *ngIf="user.Loan" class="accordionInputBox No_marginLeft MorePaddingButtom">
							<p class="inputlabel">גובה הלוואה שבכוונתך לקחת</p>
							<input id="EconomicLoan" [(ngModel)]="user.LoanAvg" type="text" name="EconomicLoan">
						</li>

						<li class="EconomicBox">
							<div class="DocreqSelect No_DocreqPadding">
								<span *ngIf="!user.Other" (click)='user.Other = 1' class="No_curser EmptyIcon icon-10 SelctedChack"></span>
								<span *ngIf="user.Other" (click)='user.Other = null' class="No_curser ChackIcon icon-11 SelctedChack"></span></div>
							<p class="EconomicPar paddingTop">אחר</p>
						</li>
						<li *ngIf="user.Other" class="accordionInputBox InputBoxBig">
							<p class="inputlabel">פרט/י</p>
							<input id="EconomicOther" [(ngModel)]="user.OtherText" type="text" name="EconomicOther">
						</li>
					</ul>
				</div>
			</accordion-group>
	<li class="page-break"></li>
			<accordion-group [isOpened]="true">
				<accordion-heading>
					<p class="accordionTitle UserPadding">התחייבויות מקבל/ת המלגה</p>
				</accordion-heading>
				<div class="accordionContent">
					<ul class="EnterPass RegUserBoxs RegUserBoxsLine MorePaddingButtom ContentStatementsLiab">
						<li class="userFormInstructions">
							<h2>בבקשה זו אני מצהיר/ה ומתחייב/ת כי:</h2>
						</li>

						<li class="DeclarationBox">

							<p class="DeclarationPar">
								הוסברו לי מטרות ועקרונות הפעולה של הקרן על-ידי נציג המכללה והגשתי בקשה זו לאחר שהבנתי היטב נושאים אלו.
							</p>
						</li>

						<li class="DeclarationBox">

							<p class="DeclarationPar">
								ידוע לי כי הקרן הינה קרן עצמאית, המקבלת את החלטותיה על פי שיקולים תקציביים ואחרים, שיקולים השמורים לקרן בלבד. אשר על כן ידוע
								לי כי הקרן אינה מתחייבת לאשר לי מלגה כלל ו/או אינה מתחייבת לגבי גובה המלגה שתאשר. החלטות הקרן הינן אישיות וסודיות
								ואין הקרן מתחייבת לחשוף בפני את שיקוליה ו/או תהליכי קבלת ההחלטות שלה.
							</p>
						</li>

						<li class="DeclarationBox">

							<p class="DeclarationPar">
								אני מתחייב/ת להשתמש במלגה רק לצורך מימון לימודיי במכללה.
							</p>
						</li>

						<li class="DeclarationBox">

							<p class="DeclarationPar">
								ידוע לי שבמידה ואפרוש מהלימודים המלגה תוחזר לקרן ללא תלות בסיבת פרישתי.
							</p>
						</li>

						<li class="DeclarationBox">

							<p class="DeclarationPar">
								אני מתחייב/ת לעדכן את הקרן לגבי מקום עבודתי, תפקידי, והטכנולוגיות בהן אני עובד/ת, אחת לרבעון במשך 3 שנים ממועד סיום לימודי
								במכללה. העדכון יתבצע במשלוח אימייל לפי ההנחיות שאקבל.
							</p>
						</li>
					</ul>

					<ul class="EnterPass">

						<li class="DeclarationBox">

							<p class="DeclarationPar">
								אני מתחייב/ת שכל הפרטים שמסרתי לעיל הינם נכונים ושלמים.
							</p>
						</li>

						<li class="DeclarationBox">

							<p class="DeclarationPar">
								ידוע לי, כי חברי הקרן רשאים לבדוק ולאמת את הצהרותיי ואישורי ההכנסות שמסרתי.
							</p>
						</li>

						<li class="DeclarationBox">

							<p class="DeclarationPar">
								אני מתחייב/ת להודיע למזכירות המכללה על כל שינוי שיחול בפרטים שנמסרו בטופס.
							</p>
						</li>

						<li class="DeclarationBox">

							<p class="DeclarationPar">
								אני מתחייב/ת בזאת, והיה ולא אעמוד בתנאים הרשומים לעיל, אחזיר לקרן את מלוא סכום המלגה שניתנה לי וזאת במועד דרישתה הראשונה
								של הקרן בכפוף לכך שלא עמדתי בתנאים הללו. </p>
						</li>
						<li class="page-break"></li>
						<li class="userFormInstructions DeclarationTitle">
							<h2>חתימת הצהרה</h2>
						</li>
						<li class="accordionInputBox">
							<p class="inputlabel">תאריך</p>
							<!--<input id="DeclarationDate" type="text" name="DeclarationDate">-->
							<label class="inputcontent">
								<span class="selectBtn icon-07"></span>
							</label>
							<my-date-picker [options]="myDatePickerOptions" [ngModelOptions]="{standalone: true}" [(ngModel)]="datesmodel.SignatureDate"
							 (dateChanged)="onDateChanged($event, 'SignatureDate')"></my-date-picker>
						</li>

						<li class="accordionInputBox No_marginLeft">
							<p class="inputlabel">שם מלא</p>
							<input id="DeclarationFirstName" type="text" [(ngModel)]="user.SignatureName" name="DeclarationFirstName">
						</li>
					</ul>

				</div>
			</accordion-group>

		</accordion>

	</div>

	<ul class="clickEn" [ngClass]="{'hideDiv': this.authService.currentUser.role == 8}">
		<li class="accordionSave">
			<div class="InsideFormBtn accordionBtnSend" title="הדפסת בקשה" (click)="print();">
				<p>הדפסת בקשה</p>
			</div>
		</li>
		<li class="accordionSend">
			<div class="InsideFormBtn accordionBtnSend" title="חזור" (click)="this.router.navigate(['/tableDecisions'])">
				<p>חזור</p>
			</div>
		</li>
	</ul>



</div>