<div class="MainContent">
	<div class="Container">

		<div *ngIf="this.httpService.fpState == 0" class="NewPassBox">
			<ul class="WelcomeOptions">
				 <li class="NewPassBoxTitle"><h2>שכחת סיסמה?</h2></li>
				 <li><p>הכנס/י את האימייל איתו נרשמת למערכת</p></li>
				 <li><p>חכה/י שפרטי השיחזור ישלחו אליך למייל</p></li>
				 <li><p>קיבלת לינק למייל - פעל/י על פי ההוראות</p></li>
			</ul>
		
		  <div class="RegUserPass">
				<div class="EnterTitle"><h4>איפוס סיסמה</h4></div>
				<form (ngSubmit)="login(user)" #loginForm="ngForm" method="post" name="EnterPassform" id="ResetPassEmailform">
					<ul class="EnterPass">

						<li class="ResetPassBox">
							<p class="inputlabel">הכנס/י אימייל</p>
							<input id="ResetPassEmail" type="email" [(ngModel)]="email" name="ResetPassEmail" placeholder="הכנס/י אימייל איתו נרשמת">
						</li>
						<li class="ResetPassBoxBtn">
							<input class="InsideFormBtn ResetInsideFormBtn" (click)="forgot(email)" type="submit" value="איפוס סיסמה" name="send" title="איפוס סיסמה">
						</li>
						<li>
							<a *ngIf="isNotUser == true;" (click)="isNotUser=false;" class="Erorr no_underline"><span class="ErorrIcon icon-03"></span>
								<p >האימייל שהזנת לא קיים במערכת</p>
							</a>
						</li>
					</ul>
				</form> 
		 </div>
	 </div>

		<div *ngIf="this.httpService.fpState == 1" class="NewPassBox">
			<ul class="WelcomeOptions">
				<li class="NewPassBoxTitle"><h2>הגדרת סיסמה</h2></li>
				<li><p>אנא הכנס/י סיסמה זמנית להמשך התהליך</p></li>
			</ul>

			<div class="RegUserPass">
				<div class="EnterTitle"><h4>כניסה עם סיסמה זמנית</h4></div>
				<form action="" method="post" name="EnterPassform" id="ResetPassform">
					<ul class="EnterPass">

						<li class="ResetPassBox">
							<div class="inputlabel">
								<p class="passTitle ResetpassTitle">הכנס/י סיסמה</p>
								<p *ngIf="hideState" (click)="helpService.toggleShow(this)" class="LinkBtn showPass no_underline paddingTop"><span class="SeeIcon icon-02"></span>הצג סיסמה</p>
								<p *ngIf="!hideState" (click)="helpService.toggleShow(this)" class="LinkBtn showPass no_underline paddingTop"><span class="SeeIcon icon-02"></span>הסתר סיסמה</p>
							</div>
							<input id="ResetPass" as-password  [(ngModel)]="user.passWord" name="ResetPass" placeholder="הכנס/י סיסמה זמנית פה">
						</li>
						<li class="ResetPassBoxBtn">
							<input class="InsideFormBtn ResetInsideFormBtn" (click)="resetPass(user.passWord)" type="submit" value="המשך/י" name="send" title="המשך/י">
						</li>
						<li>
							<a *ngIf="ifGood" (click)="ifGood=false" class="Erorr no_underline"><span class="ErorrIcon icon-03"></span>
								<p>הסיסמה שהזנת אינה נכונה. אנא בדוק\י והזן שוב</p>
							</a>
						</li>
					</ul>
				</form>
			</div>
	</div>

		<div *ngIf="this.httpService.fpState == 2" class="NewPassBox">
			<ul class="WelcomeOptions">
				 <li class="NewPassBoxTitle"><h2>שינוי סיסמה</h2></li>
				 <li><p>אנא צור/י סיסמה חדשה בעלת 8 תווים שבנויה מאותיות ומספרים ולחץ שמור</p></li>
			</ul>

			<div class="RegUserPass">
				<div class="EnterTitle"><h4>רישום סיסמה חדשה</h4></div>
			
					<ul class="EnterPass">
						<li class="ResetPassBox">
							<div class="inputlabel">
								<p class="passTitle ResetpassTitle">הכנס/י סיסמה</p>
								<p *ngIf="hideState2" (click)="helpService.toggleShow(this)" class="LinkBtn showPass no_underline paddingTop"><span class="SeeIcon icon-02"></span>הצג סיסמה</p>
								<p *ngIf="!hideState2" (click)="helpService.toggleShow(this)" class="LinkBtn showPass no_underline paddingTop"><span class="SeeIcon icon-02"></span>הסתר סיסמה</p>
							</div>
							<input id="NewPass" as-password  [(ngModel)]="passWord1" name="NewPass">
							<a *ngIf="goodPass == 2" (click)="goodPass=0" class="Erorr no_underline"><span class="ErorrIcon icon-03"></span>
								<p>סיסמה צריכה לכלול 8 תווים ובנויה מאותיות ומספרים</p>
							</a>
						</li>

						<li class="ResetPassBox">
							<div class="inputlabel"><p class="passTitle ResetpassTitle">אימות סיסמה</p></div>
							<input id="AuthenticationPass" type="password" [(ngModel)]="passWord2" name="AuthenticationPass">
							<a *ngIf="goodPass == 1" (click)="goodPass=0" class="Erorr no_underline"><span class="ErorrIcon icon-03"></span>
								<p>שני הסיסמאות צריכות להיות זהות</p>
							</a>
						</li>
						<li class="ResetPassBoxBtn">
							<input class="InsideFormBtn ResetInsideFormBtn" (click)='SavePassword(passWord1,passWord2)' type="submit" value="שמור/י" name="send" title="שמור/י">
						</li>
					</ul>
			</div>
		</div>

        <div *ngIf="this.httpService.fpState == 3" class="NewPassBox">
			<ul class="WelcomeOptions NoiconList">
			    <li class="NewPassBoxTitle"><h2>שינוי סיסמה</h2></li>
				<li class="No_marginRight"><span class="ChangeNewPassIcon icon-04"></span><p class="changePer">שינוי סיסמה עבר בהצלחה</p></li>
			</ul>

			<div class="RegUserPass">
				<div class="EnterTitle"><h4>כניסה למערכת</h4></div>
					
					<ul class="EnterPass">
						<li class="ChangeNewBoxBtn">
							<input class="InsideFormBtn ResetInsideFormBtn" (click)="goToHome()" type="submit" value="כניסה" name="send" title="כניסה">
						</li>
					</ul>
			</div>
		</div>
	</div>
</div>