@import "../../../../node_modules/ag-grid/src/styles/ag-grid"

ag-style = "sela"
ag-root-font-family = "Open Sans Hebrew"
ag-root-font-size = 14px


ag-scrollbar-background = unset
ag-scrollbar-thumb = unset

ag-border-1 = 1px solid grey

ag-border-color-1 = none
ag-border-color-2 = none

ag-background-1 = #f6f6f6

ag-foreground-1 = #FFFFFF

ag-header-foreground-1 = #000
ag-header-height = 100px

ag-separator-color = none

ag-cell-focused-border = none
ag-cell-no-focus-border-top = none
ag-cell-no-focus-border-bottom = none
ag-cell-ltr-no-focus-border-right = none
ag-cell-ltr-no-focus-border-left = none
ag-cell-rtl-no-focus-border-right = none
ag-cell-rtl-no-focus-border-left = none

ag-cell-text-align = center

ag-cell-highlight-border = none

ag-cell-padding = 2px

ag-row-selected-background-color = #004467
ag-row-odd-background-color = #B3B3B3
ag-row-even-background-color = #B3B3B3
ag-row-floating-background-color = #f0f0f0
ag-row-stub-background-color = #f0f0f0

ag-value-change-delta-up-color = darkgreen
ag-value-change-delta-down-color = darkred
ag-value-change-value-highlight-background-color = #cec

ag-range-selected-color-1 = rgba(120,120,120,0.4)
ag-range-selected-color-2 = rgba(80,80,80,0.4)
ag-range-selected-color-3 = rgba(40,40,40,0.4)
ag-range-selected-color-4 = rgba(0,0,0,0.4)

ag-header-background-1 = linear-gradient(white, lightgrey)
ag-header-select-padding = 5px 0px 0px 3px

ag-button-background-1 = linear-gradient(white, lightgrey)
ag-button-foreground-1 = #000
ag-button-border-1 = #808080

ag-header-font-weight = normal

ag-tab-border = 1px solid #d3d3d3
ag-tab-background = #e6e6e6
ag-tab-selected-background = #f6f6f6
ag-tab-padding = 6px 8px 6px 8px

ag-menu-option-active-color = #BDE2E5

ag-select-background = white
ag-select-foreground = #222

ag-menu-option-padding = 2px 4px 2px 4px
ag-menu-option-shortcut-padding = 2px 2px 2px 2px

@import "../../../../node_modules/ag-grid/src/styles/theme-common"

//OVERRIDE GOES HERE

.ag-header
    height: 100px!important

.ag-header-cell-text
    padding: 0px!important
    text-align: center

.ag-header-cell-label
    color white
    background-color: #333333
    font-size: 1.7em
    font-weight: bold
    height: 57px
    padding: 11px 0px!important

.ag-filter input, .ag-filter select
    border-radius:0px
    height: 30px

.ag-cell
    padding-top: 15px!important
    padding-bottom: 15px!important
    text-align: center
    font-size: 19.2px
.ag-row
    border-bottom-color: #FFFFFF
    border-bottom-style: solid
    border-bottom-width: 3px

.ag-row:first
    border-top-color: #FFFFFF
    border-top-style: solid
    border-top-width: 3px
  
.ag-body
    top: 60px!important
    height: 276px!important

.ag-root
    border: none!important;
