/* ScssIcons */
@font-face {
  font-family: 'SystemscholarshipSite';
  src: url('../fonts/SystemscholarshipSite.eot?qsa8bs');
  src: url('../fonts/SystemscholarshipSite.eot?qsa8bs#iefix') format("embedded-opentype"), url('../fonts/SystemscholarshipSite.ttf?qsa8bs') format("truetype"), url('../fonts/SystemscholarshipSite.woff?qsa8bs') format("woff"), url('../fonts/SystemscholarshipSite.svg?qsa8bs#SystemscholarshipSite') format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'SystemscholarshipSite' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #004467;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-01:before {
  content: "\e900";
}

.icon-02:before {
  content: "\e901";
}

.icon-03:before {
  content: "\e902";
}

.icon-04:before {
  content: "\e903";
}

.icon-05:before {
  content: "\e904";
}

.icon-06:before {
  content: "\e905";
}

.icon-07:before {
  content: "\e906";
}

.icon-08:before {
  content: "\e907";
}

.icon-09:before {
  content: "\e908";
}

.icon-10:before {
  content: "\e909";
}

.icon-11:before {
  content: "\e90a";
}

.icon-12:before {
  content: "\e90b";
}

.icon-13:before {
  content: "\e90c";
}