/* ScssIndex */
.UserAccountTitle {
  width: 100%;
  float: right;
  margin-bottom: 10px;
  margin-top: 30px; }
  .UserAccountTitle h3 {
    font-weight: bold; }

.FormBoxs {
  width: 100%;
  float: right; }

.BackTitle {
  width: 100%;
  float: right;
  display: block !important; }
  .BackTitle p {
    font-size: 1.5em;
    font-weight: bold;
    color: #FFFFFF; }

.BoxRelative {
  position: relative;
  float: right;
  width: 100%;
  margin-bottom: 20px; }

.Accountlabel {
  max-width: 120px;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 12px;
  padding-bottom: 10px;
  background-color: #f4f5f5;
  border-left: 2px solid #b2b2b2; }

.AccountBox {
  text-indent: 130px;
  font-size: 1.1em; }

.RegUser h2, .EnterSmsCodeBtn, .EnterPassRemmberMe, .EnterPassRestor, .EnterPassRemmberMe p, .EnterSmsMobile, .EnterMobileBox, .EnterSmsCode, .EnterCodeeBox, .box, .MobileBtn, .BackBtn {
  width: 100%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.BackBox {
  width: 100%;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px; }

.BackBtn {
  height: 60px;
  line-height: 60px;
  margin-bottom: 30px;
  margin-top: 20px;
  clear: none;
  float: left;
  display: none; }

.box {
  margin-top: 20px;
  clear: none;
  float: right; }

.CookieTxt {
  width: 100%;
  font-size: 1em;
  float: right;
  margin-top: 12px; }

.RegUser h2 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #004467; }

.EnterPassRemmberMe {
  display: none;
  margin-top: 10px; }

.SmsCodeSendBox, .EnterPassRestor {
  margin-top: 10px; }

.SmsCodeSendBox {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.EnterPassRemmberMe p {
  max-width: 155px; }

.EnterPasscheck {
  max-width: 25px;
  height: 25px;
  float: right;
  margin-left: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #cacece;
  border-image: initial;
  border-radius: 5px; }

.EnterPassRestor {
  padding-right: 10px; }

.SmsCodeSendTitle, .SmsCodeSendTimer, .SmsCodeSendAgin {
  float: left;
  margin-left: 10px; }

.MobileBtn {
  height: 50px;
  line-height: 50px;
  float: right;
  clear: none;
  margin-bottom: 10px; }

@media only screen and (min-width: 700px) {
  .FormBoxs, .BackTitle {
    width: 77.67%; }

  .box, .BackBtn {
    max-width: 123px;
    margin-top: 0px;
    margin-right: 25px; }

  .UserAccountBtn {
    height: 120px;
    line-height: 120px;
    float: right;
    clear: none; }

  .EnterPassRemmberMe {
    display: block; }

  .MobileBtn {
    width: 21%;
    display: none; } }
@media only screen and (min-width: 800px) {
  .FormBoxs, .BackTitle {
    width: 80.6%; } }
@media only screen and (min-width: 900px) {
  .FormBoxs, .BackTitle {
    width: 82.6%; } }
@media only screen and (min-width: 1000px) {
  .UserAccountTitle {
    margin-top: 10px; }

  .FormBoxs {
    width: 73%; }

  .BackTitle {
    width: 100%; } }
@media only screen and (min-width: 1250px) {
  .UserAccountTitle {
    margin-top: 0px; }

  .FormBoxs {
    width: 77%; }

  .BackBox {
    padding-top: 70px;
    margin-top: 0px; }

  .BackBtn {
    margin-bottom: 0px; }

  .box {
    width: 21%; } }
