<div class="RegUserBoxs RegUserBoxsLine">
	<div class="EnterTitle"><h4>כניסה עם סיסמה / שיחזור סיסמה</h4></div>
	
	<form method="post" name="EnterPassform" id="EnterPassform" (ngSubmit)="login(user)" #loginForm="ngForm">
		<ul class="EnterPass">
			<li class="EnterPassBox">
				<p class="inputlabel">אימייל (שם משתמש)</p>
				<input id="EnterPassEmail" (focus)="emailValid = 0" (focusout)="emailValid = validationService.validateEmail(user.Email,emailValid)"
					autocomplete="on" type="text" name="email" [(ngModel)]="user.Email" #name="ngModel"  tabindex=1>

				<div class="EnterPassRemmberMe">
					<input class="EnterPasscheck" id="EnterPasscheck" type="checkbox" name="EnterPasscheck" [(ngModel)]="authService.rememberMe" >
					<p>זכור אותי במחשב זה</p>		
				</div>
			</li>
			<li class="EnterPassBox">
				<div class="inputlabel">
					<p class="passTitle">סיסמה</p>
					<p *ngIf="hideState" (click)="helpServiceLogin.toggleShow(this)" class="LinkBtn showPass no_underline paddingTop"><span class="SeeIcon icon-02"></span>הצג סיסמה</p> 
					<p *ngIf="!hideState" (click)="helpServiceLogin.toggleShow(this)" class="LinkBtn showPass no_underline paddingTop"><span class="SeeIcon icon-02"></span>הסתר סיסמה</p>
				</div>
				<input id="EnterPassPassword" [(ngModel)]="user.passWord" (focus)="passValid = 0" (focusout)="passValid = validationService.validationPassword(user.passWord)"
					name="password" as-password  tabindex=2>
				<div class="EnterPassRestor"><p (click)="forgot()" class='LinkBtn'>שיחזור סיסמה</p></div>
			</li>
			<li class="EnterPassBoxBtn">
				<input class="InsideFormBtn"  type="submit" (click)="login(user)" value="כניסה" name="send" title="כניסה" >
			</li>
			<li>
				<a *ngIf="emailValid==1" (click)="emailValid=0" class="Erorr no_underline"><span class="ErorrIcon icon-03"></span>
								<p >אימל הוא שדה חובה</p>
					</a>
				<a *ngIf="emailValid==2" (click)="emailValid=0" class="Erorr no_underline"><span class="ErorrIcon icon-03"></span>
						<p>האימייל שהוזן אינו תקין. אנא נסה/י שנית</p>
					</a>
				<a *ngIf="passValid==1" (click)="passValid=0" class="Erorr no_underline"><span class="ErorrIcon icon-03"></span>
								<p >סיסמה הוא שדה חובה</p>
					</a>
				<a *ngIf="passValid==2" (click)="passValid=0" class="Erorr no_underline"><span class="ErorrIcon icon-03"></span>
							<p>האימייל או הסיסמא אינם  נכונים</p>
				</a>
			</li>
		</ul>
	</form>
</div>